.popup__close-button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -38px;
    right: -38px;
    background: url("../../../../images/close-button.svg");
    background-size: 32px 32px;
    transition: opacity 0.1s linear;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        background-size: contain;
        top: -36px;
        right: 0;
    }
}