.header__logo {
  width: calc(142px - 0.03985416667 * (1280px - 100vw));
  object-fit: contain;
  min-width: 103.74px;
  min-height: 24.4px;
}

@media screen and (max-width: 767px) {
  .header__logo {
    margin-left: 27px;
  }
}
