.elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    max-width: 880px;
    min-width: 320px;
    width: 68.75vw;
    grid-gap: 20px 17px;
}

@media screen and (max-width: 1023px) {
    .elements {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }
}

@media screen and (max-width: 767px) {
    .elements {
        grid-template-columns: 1fr;
    }
}