.popup__close-button {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    position: absolute;
    width: 32px;
    height: 32px;
    top: -32px;
    right: -32px;
    background: url("../../../images/close-button.svg");
    background-size: 32px 32px;
}

@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        background-size: contain;
        top: -36px;
        right: 0;
    }
}