.element__like-button {
  background-image: url("../../../images/like-button.svg");
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 22px;
  min-height: 19px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  padding: 0;
  transition: opacity 0.1s linear;
}

.element__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
