.profile__info {
    min-width: 336px;
    position: relative;
    align-items: center;
}

@media screen and (max-width: 767px) {
    .profile__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}